.navbar-default {
    background: linear-gradient(135deg,#ffd700,#ff6c00) 50%;
}

#footer {
    background-color: #022D64;
}

.insight {
    font-style: normal;
}

#ngProgress {
    background-color: #3271D2;
}
